<mgl-map
  [style]="mapParams.style"
  [zoom]="[mapParams.zoom]"
  [center]="[mapParams.center[0], mapParams.center[1]]"
>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglFullscreen></mgl-control>
  <mgl-control mglGeolocate [positionOptions]="{ enableHighAccuracy: true }" [trackUserLocation]="true" ></mgl-control>

  <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>

  <ng-container *ngFor="let source of thisMap?.mapbox?.sources">
    <mgl-raster-source [id]="source.source" [url]="source.url"></mgl-raster-source>
  </ng-container>

  <ng-container *ngFor="let layer of thisMap?.mapbox?.layers">
    <mgl-layer [id]="layer.id" [type]="layer.type" [source]="layer.source"></mgl-layer>
  </ng-container>

  <ng-container *ngIf="thisMap?.images">

    <mgl-geojson-source id="images" [data]="thisMap?.images" [cluster]="true" [clusterMaxZoom]="14" [clusterRadius]="50">
    </mgl-geojson-source>

    <mgl-layer
      id="clusters"
      type="circle"
      source="images"
      [filter]="['has', 'point_count']"
      [paint]="{
            'circle-color': {
              property: 'point_count',
              type: 'interval',
              stops: [
                [0, '#51bbd6'],
                [5, '#f1f075'],
                [10, '#f28cb1']
              ]
            },
            'circle-radius': {
              property: 'point_count',
              type: 'interval',
              stops: [
                [0, 20],
                [100, 30],
                [750, 40]
              ]
            }
          }"
    >
    </mgl-layer>

    <mgl-layer
      id="cluster-count"
      type="symbol"
      source="images"
      [filter]="['has', 'point_count']"
      [layout]="{
            'text-field': '{point_count_abbreviated}',
            'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
            'text-size': 12
          }"
    >
    </mgl-layer>

    <mgl-layer
      id="unclustered-point"
      type="circle"
      source="images"
      [filter]="['!has', 'point_count']"
      [paint]="{
        'circle-radius': 10,
        'circle-stroke-width': 1,
        'circle-stroke-color': '#fff',
        'circle-color': [
          'match',
          ['get', 'format'],
          '360',
          '#51bbd6',
          '180',
          '#f1f075',
          'pic',
          '#f28cb1',
          '#000000'
          ]
      }"
    >
    </mgl-layer>

<!--    <mgl-layer-->
<!--      id="unclustered-point"-->
<!--      type="symbol"-->
<!--      source="images"-->
<!--      [filter]="['!has', 'point_count']"-->
<!--      [layout]="{-->
<!--            'icon-image': [-->
<!--                'match',-->
<!--                ['get', 'format'],-->
<!--                '360',-->
<!--                '360_black_24dp',-->
<!--                '180',-->
<!--                'panorama_horizontal_black_24dp',-->
<!--                'pic',-->
<!--                'crop_original_black_24dp',-->
<!--                'crop_original_black_24dp',-->
<!--            ]-->
<!--          }"-->
<!--    >-->
<!--    </mgl-layer>-->

  </ng-container>



<!--  <ng-container *ngFor="let format of formats  | keyvalue">-->
<!--    <mgl-image [id]="format.key" [url]="format.value.marker" (imageLoaded)="imageLoaded(format.key)"></mgl-image>-->
<!--  </ng-container>-->

<!--  <mgl-layer id="markers" type="symbol" source="images"-->
<!--    [layout]="{-->
<!--            'icon-image': [-->
<!--                'match',-->
<!--                ['get', 'format'],-->
<!--                '360',-->
<!--                'icon-360',-->
<!--                '180',-->
<!--                'icon-180',-->
<!--                'pic',-->
<!--                'icon-pic',-->
<!--                'icon-pic',-->
<!--            ]-->
<!--        }"-->
<!--  ></mgl-layer>-->

>

</mgl-map>

<app-console id="home-console"></app-console>



