<mgl-map
  [style]="mapParams.style"
  [zoom]="[mapParams.zoom]"
  [center]="[mapParams.center[0], mapParams.center[1]]"
>
  <mgl-control mglNavigation></mgl-control>

  <mgl-control mglScale unit="metric" position="bottom-right"></mgl-control>

  <ng-container *ngFor="let source of thisMap?.mapbox?.sources">
    <mgl-raster-source [id]="source.source" [url]="source.url"></mgl-raster-source>
  </ng-container>

  <ng-container *ngFor="let layer of thisMap?.mapbox?.layers">
    <mgl-layer [id]="layer.id" [type]="layer.type" [source]="layer.source"></mgl-layer>
  </ng-container>

  <ng-container *ngFor="let format of formats  | keyvalue">
    <mgl-image [id]="format.key" [url]="format.value.marker" (imageLoaded)="imageLoaded(format.key)"></mgl-image>
  </ng-container>

<!--  <mgl-geojson-source id="images" [cluster]="true" [clusterMaxZoom]="14" [clusterRadius]="50">-->
<!--    <mgl-feature-->
<!--      *ngFor="let feature of thisMap?.images?.features"-->
<!--      [geometry]="feature.geometry"-->
<!--    ></mgl-feature>-->
<!--  </mgl-geojson-source>-->

  <mgl-geojson-source
    id="images"
    [data]="thisMap?.images"
    [cluster]="true"
    [clusterMaxZoom]="14"
    [clusterRadius]="50"
  ></mgl-geojson-source>

>

</mgl-map>

<app-console id="home-console"></app-console>



