<mgl-map
  [style]="mapParams.style"
  [zoom]="[mapParams.zoom]"
  [center]="[mapParams.center[0], mapParams.center[1]]"
  (mapLoad)="mapLoad($event)"
  [cursorStyle]="cursorStyle"
>
  <mgl-control mglNavigation></mgl-control>
  <mgl-control mglFullscreen></mgl-control>
  <mgl-control mglGeolocate
   [positionOptions]="{ enableHighAccuracy: true }"
   [trackUserLocation]="true" >
  </mgl-control>

  <mgl-control mglScale
   unit="metric"
   position="bottom-right">
  </mgl-control>

  <mgl-raster-source
    *ngFor="let source of thisMap?.mapbox?.sources"
    [id]="source.source"
    [url]="source.url">
  </mgl-raster-source>

  <mgl-layer
    *ngFor="let layer of thisMap?.mapbox?.layers"
    [id]="layer.id"
    [type]="layer.type"
    [source]="layer.source">
  </mgl-layer>

  <ng-container *ngIf="thisMap?.images">

    <mgl-geojson-source
      id="images"
      [data]="thisMap?.images"
      [cluster]="true"
      [clusterMaxZoom]="18"
      [clusterRadius]="30">
    </mgl-geojson-source>

    <mgl-layer
      id="clusters"
      type="circle"
      source="images"
      (layerMouseEnter)="cursorStyle = 'pointer'"
      (layerMouseLeave)="cursorStyle = 'default'"
      (layerClick)="clusterClick($event)"
      [filter]="['has', 'point_count']"
      [paint]="{
            'circle-color': {
              property: 'point_count',
              type: 'interval',
              stops: [
                [0, '#f1f075'],
              ]
            },
            'circle-radius': {
              property: 'point_count',
              type: 'interval',
              stops: [
                [0, 17],
                [5, 18],
                [6, 19],
                [7, 20],
                [8, 21],
                [9, 22],
                [10, 23],
                [12, 24],
                [15, 25],
                [20, 27],
              ]
            }
          }"
    >
    </mgl-layer>

    <mgl-layer
      id="cluster-count"
      type="symbol"
      source="images"
      [filter]="['has', 'point_count']"
      [layout]="{
            'text-field': '{point_count_abbreviated}',
            'text-font': ['DIN Offc Pro Medium', 'Arial Unicode MS Bold'],
            'text-size': 12
          }"
    >
    </mgl-layer>

  </ng-container>

  <mgl-image *ngFor="let format of formats"
             [id]="format.iconId"
             [url]="format.marker"
             (imageLoaded)="imageLoaded(format.key, format.iconId)">
  </mgl-image>


  <mgl-layer *ngIf="markerImagesLoaded"
     id="markers"
     type="symbol"
     source="images"
     (layerMouseEnter)="cursorStyle = 'pointer'"
     (layerMouseLeave)="cursorStyle = 'default'"
     (layerClick)="imageClick($event)"
     [layout]="{
          'icon-image': [
              'match',
              ['get', 'format'],
              '360',
              'icon-360',
              '180',
              'icon-180',
              'pic',
              'icon-pic',
              'icon-pic',
          ]
     }"
     [filter]="['all',['!has', 'point_count']]"
  ></mgl-layer>

>

<mgl-popup
  [closeButton]="false"
  [closeOnClick]="true"
  [feature]="popupFeature"
  [offset]="12"
>
  <div [innerHTML]="popupHtml"></div>
</mgl-popup>

</mgl-map>

<app-console id="home-console"></app-console>






<ng-template #content let-modal>
  <div id="image-modal-header" class="modal-header py-1">
    <img src="{{ format?.icon }}"><h5>{{ format?.name }}</h5>
    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
<!--    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>-->
<!--    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">-->
<!--      <span aria-hidden="true">&times;</span>-->
<!--    </button>-->
  </div>
  <div class="modal-body">
    <div class="row pb-1">
      <div class="col-6"><span class="popup-label">Taken: </span>{{ currentImage.taken }}</div>
      <div class="col-6 text-end"><span class="popup-label">Location: </span>{{ currentImage.longitude }}, {{ currentImage.latitude }}
          <span class="popup-label">Altitude: </span>{{ currentImage.altitudeFeet }}ft</div>
    </div>

    <ng-container *ngIf="format?.key==='360'">
      <iframe id="modalImage" className="m-0" width="100%" height="640" style="width: 100%; height: 640px; border: none; max-width: 100%;"
              allowFullScreen allow="xr-spatial-tracking; gyroscope; accelerometer"
              [src]="kuulaUrl">
      </iframe>
    </ng-container>

    <ng-container *ngIf="format?.key==='180'">
      <img id="modalImage" [src]="imagePath" width="100%">
    </ng-container>

    <ng-container *ngIf="format?.key==='pic'">
      <img id="modalImage" [src]="imagePath" width="100%">
    </ng-container>

  </div>

  <div class="modal-footer px-1 pb-1 pt-1">
    <button type="button" class="btn btn-outline-primary btn-sm image-zoom" (click)="zoomIn()"><fa-icon [icon]="faSearchPlus" style="font-size: 1rem;"></fa-icon></button>
    <button type="button" class="btn btn-outline-primary btn-sm image-zoom" (click)="zoomOut()"><fa-icon [icon]="faSearchMinus" style="font-size: 1rem;"></fa-icon></button>
    <button type="button" class="btn btn-outline-primary btn-sm image-zoom" (click)="resetZoom()"><fa-icon [icon]="faAsterisk" style="font-size: 1rem;"></fa-icon> Reset</button>
    <span>&nbsp;&nbsp;</span>
    <button type="button" class="btn btn-secondary btn-sm" (click)="openFullscreen()" ><fa-icon [icon]="faArrowsAlt" style="font-size: 1rem;"></fa-icon> Full Screen</button>
    <button type="button" class="btn btn-secondary btn-sm" (click)="download()"><fa-icon [icon]="faDownload" style="font-size: 1rem;"></fa-icon> Download</button>
    <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal" (click)="modal.dismiss('Button click')">
      <fa-icon [icon]="faTimes" style="font-size: 1rem;"></fa-icon> Close</button>
  </div>
</ng-template>

<button #imageModal class="btn btn-lg btn-outline-primary" (click)="open(content)"></button>




<!--&lt;!&ndash;<ng-template #content let-modal>&ndash;&gt;-->
<!--<div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="image-modal-label" aria-hidden="true">-->
<!--  <div class="modal-dialog modal-dialog-centered modal-xl">-->
<!--    <div id="image-view" class="modal-content">-->

<!--      <div id="image-modal-header" class="modal-header py-1">-->
<!--      </div>-->

<!--      <div id="image-modal-body" class="modal-body px-2 pt-2 pb-0">-->
<!--      </div>-->

<!--      <div class="modal-footer px-1 pb-1 pt-1">-->
<!--        <button type="button" class="btn btn-outline-primary btn-sm image-zoom" onclick="zoomIn()"><i class="bi bi-zoom-in" style="font-size: 1rem;"></i></button>-->
<!--        <button type="button" class="btn btn-outline-primary btn-sm image-zoom" onclick="zoomOut()"><i class="bi bi-zoom-out" style="font-size: 1rem;"></i></button>-->
<!--        <button type="button" class="btn btn-outline-primary btn-sm image-zoom" onclick="resetZoom()"><i class="bi bi-arrows-fullscreen" style="font-size: 1rem;"></i> Reset</button>-->
<!--        <span>&nbsp;&nbsp;</span>-->
<!--        <button type="button" class="btn btn-secondary btn-sm" onclick="openFullscreen()" ><i class="bi bi-fullscreen" style="font-size: 1rem; color: white;"></i> Full Screen</button>-->
<!--        <button type="button" class="btn btn-secondary btn-sm" onclick="download()"><i class="bi bi-download" style="font-size: 1rem; color: white;"></i> Download</button>-->
<!--        <button type="button" class="btn btn-primary btn-sm" data-bs-dismiss="modal"><i class="bi bi-x-square" style="font-size: 1rem; color: white;"></i> Close</button>-->
<!--      </div>-->

<!--    </div>-->
<!--  </div>-->
<!--</div>-->
<!--&lt;!&ndash;</ng-template>&ndash;&gt;-->
<!--<button #myModal [hidden]="true" (click)="test()" data-toggle="modal" data-target="#myModal"></button>-->




