#home-console {
  position: absolute;
  width: 240px;
  margin: 10px;
  padding: 10px 20px;
  background-color: white;
  border-radius: 5px;
  border: lightgrey solid 1px;
}

mgl-map {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

:host ::ng-deep .mapboxgl-popup .cluster-popup-list {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  list-style-type: none !important;
}

:host ::ng-deep .mapboxgl-popup-content {
  padding: 5px 5px 5px 5px;
  box-shadow: 0px 2px 4px 2px rgba(0,0,0,.1);
}

:host ::ng-deep .mapboxgl-popup .cluster-popup-thumb {
  cursor: pointer;
  &:hover {
    background-color: #c2dbff;
  }
}

.popup-image {
  max-width: 100%;
  max-height: 100%;
}

.popup-text {
  clear: both;
}

h5 {
  margin-bottom: 0;
}

.popup-format {
  float: left;
}

.popup-actions {
  padding-top: 7px;
}

.popup-fa {
  font-size: 12px;
  color: #404040;
  font-weight: normal;
  padding-right: 5px;
  padding-left: 5px;
}

.popup-size {
  float: right;
  padding-top: 5px;
  padding-right: 5px;
}

.popup-fa-icon {
  padding-right: 8px;
  cursor: pointer;
}

.popup-label {
  font-weight: 600;
  padding-right: 5px;
}

.image-marker {
  cursor: pointer;
}

.modal-body {
  padding: 1rem 0.5rem 0.05px 0.5rem;
 }

.modal-footer {
  border-top: none;
}

.popup-thumb {
  width: 100px;
}


